@import "../app.component.scss";

.ui-home-header {
    padding-left: 10px;
    background: $ui-primary-color;
    color: $ui-white-color;
}

.ui-home-header span {
    font-size: 20px;
    font-weight: bold;
}
.ui-home-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 80px;
}
.ui-home-items {
    margin: auto;
    font-size: 20px;
}
.ui-home-item {
    float: left;
    width: 190px;
    height: 230px;
    padding: 5px;
    margin-left: 10px;
    margin-top: 10px;
    color: $ui-gray-color;
    border: 1px solid $ui-border-color;
    text-align: center;
    cursor: pointer;
}
.ui-item-logo {
    height: 180px;
    font-size: 80px;
    width: 100%;
    text-align: center;
    line-height: 170px;
    border-bottom: 1px solid $ui-border-color;
}
.ui-item-label {
    padding-top: 10px;
    min-height: calc(100% - 180px);
    text-align: center;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 15px;
}
.ui-item-request-equipament {
    color: $ui-white-color;
    background: $ui-blue-color;
}

.ui-home-item:hover {
    animation-name: ui-animation;
    animation-duration: 2s;
}

/**
    Animation =)
**/
@keyframes ui-animation {
    0%   {
        opacity: 0.8;
        transform: rotate3d(1, 0, 0, 2deg);
    }
    25%  {
        opacity: 0.87;
        transform: rotate3d(0, 0, 1, -2deg);
    }
    50%  {
        opacity: 0.9;
        transform: rotate3d(0, 1, 1, 1deg);
    }
    100% {
        opacity: 0.99;
        transform: rotate3d(0, 0, 0, 0deg);
    }
}