<div class="ui-container">
  <div [ngClass]="{'ui-sidenav-retract': !navOpen, 'ui-sidenav': true}">
    <nav-bar [retracted]="!navOpen"></nav-bar>
    <button mat-mini-fab color="primary"
        (click)="navOpen = !navOpen;"
        [ngClass]="{
            'ui-nav-menu-open': navOpen,
            'ui-nav-menu': !navOpen
          }">
      <span [ngClass]="{
          'fas': true,
          'fa-arrow-left': navOpen,
          'fa-arrow-right': !navOpen
        }">
      </span>
    </button>
  </div>
  <div [ngClass]="{'ui-content-retract': navOpen, 'ui-content': !navOpen}">
    <mat-toolbar color="primary">
      <span [class]="header?.icon" style="margin-right: 10px;"></span>
      <span class="ui-view-name">{{header?.title}}</span>
      <button mat-icon-button [matMenuTriggerFor]="userMenu" class="ui-user-menu">
        <span class="fa fa-user-circle"></span>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="doLogout()">
          <span class="fa fa-power-off"></span>
          <span style="margin-left:10px">Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</div>
